.idea
data/mscoco_bbdf.json
data/mscoco_bbdf.json.gz
data/refcoco_refdf.json
data/refcoco_refdf.json.gz
testrun/refcoco_refrnn.json
testrun/refcoco_vgg19_rnnpreproc.mat
testrun/results/
venv/
coco-caption/
src/eval/jsons/
src/.ipynb_checkpoints/
.ipynb_checkpoints/
*.pyc
src/eval/cached_data/
src/eval/model/
refcoco/
gloVe/
